*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(to right, #b24592, #f15f79);
  margin: 0;
  padding: 4vw;
  padding-top: 2vw;
}

h1,
h3 {
  text-align: center;
  color: white;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
  margin: auto;
  margin-bottom: 0.5em;
}

h3 {
  font-weight: 400;
}

.introduction {
  max-width: 1200px;
  border-radius: 8px;
  margin: auto;
  padding: 2em;
  background: white;
  margin-bottom: 1em;
  white-space: pre-wrap;
}

.introduction h2 {
  margin-top: 0;
}

.diff-container {
  max-width: 1200px;
  border-radius: 8px;
  margin: auto;
  padding: 1em;
  background: white;
}

.diff-row {
  padding: 0.5em 0;
  display: flex;
}

.diff-row:hover {
  background: rgba(73, 175, 235, 0.1);
  border-radius: 8px;
  transition: background-color 0.2s;
}

.diff-header {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 4px;
}

.diff-header:hover {
  background: white;
}

a.icon-button {
  color: inherit;
  text-decoration: none;
}

.diff-item {
  flex: 1;
  padding: 0 1em;
  padding-right: 2em;
  white-space: pre-wrap;
  position: relative;
}

input.filter {
  width: 100%;
  background: none;
  border: solid 2px #ddd;
  padding: 0.6em 1em;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
}

.icon-button {
  background: #eee;
  border: none;
  padding: 4px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  line-height: 1;
}

/* Tooltip text */
.tooltip .tooltip-text {
  line-height: 1.3;
  width: 130px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

  visibility: hidden;
  background-color: black;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 0.4em 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.icon-button:hover {
  background: #ddd;
}

.header {
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  background: rgb(182, 253, 182);
  padding: 2px 0;
  border-radius: 4px;
  position: relative;
}

.character {
  font-weight: bold;
}

.annotations {
  display: grid;
  row-gap: 0.5em;
  grid-auto-rows: min-content;
}

.entities {
  display: grid;
  grid-template-columns: auto 1fr;
  /* align-items: center; */
  column-gap: 8px;
  row-gap: 4px;
  padding: 0.5em 1em;
  background: #f1fff1;
  border-radius: 4px;
  font-size: 14px;
  border: solid 1px #e2e2e2;
}

.entity-type {
  font-size: 12px;
  padding-top: 2px;
  letter-spacing: 0;
}

.entity-name {
  font-size: 14px;
}

.annotation {
  margin-bottom: 0.5em;
}

.number {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.diff-item:hover .number {
  transition-delay: 0.1s;
  visibility: visible;
  opacity: 1;
}

.number {
  background: rgb(235, 197, 245);
  border-radius: 16px;
  line-height: 1;
  font-size: 12px;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-left: 8px;
  font-weight: 500;
  position: absolute;
  top: 4px;
  right: 0;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
}
